body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.main-grid{
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr;
    gap: 10px;
}

.main-grid-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-grid-flex{
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-box{
    margin-top: 2rem;
    width: 15rem;
    border-radius: 100%;
}
.profile-photo{
    width: 100%;
    border-radius: 100%;
}

.name{
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.second-name{
    color: #A01D21;
}

.title{
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
}

.subtitle{
    color: #A01D21;
}

table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px 16px;
}
td{
    font-weight: bold;
    text-align: center;
}

.hobby{
    color: #A01D21;
}